
.container {
  border: 1px solid gray;
  width: 30%;
  height: 450px;
  margin: 5rem 0 0 10rem;
  background-image: url("../src/images/bg.png");
}

.title {
  font-size: 1.6rem;
  padding: 3rem 0 0 8rem;
  color: rgb(204, 35, 226);
  text-shadow: 2px 4px 5px black;
}

.form {

  width: 40%;
  margin: 2rem 0 0 7rem;
  display: flex;
  flex-direction: column;
  
}

.error {
  color: red;
  font-size: 10px;
}

.e-error {
  margin-top: -.5rem;
}

.em-field {
  /* border: 2px solid red; */
  margin: 1rem 0 1rem 0;

}

.btn {
  margin: 1rem 0 0 7rem; 
  
}

.check {
  /* border: 2px solid red;  */
  margin: 2rem 0 0 7rem;
  width: 60%;
  font-size: 12px;
  
  /* display: flex; */
}